<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openIT</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>14A23DA294CA9F441C26A424125C27FD0934FECF</string>
				<key>dateExpires</key>
				<string>7/9/19</string>
				<key>type</key>
				<string>Mac Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14A23DA294CA9F441C26A424125C27FD0934FECF</string>
						<key>dateExpires</key>
						<string>7/9/19</string>
						<key>type</key>
						<string>Mac Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.files.user-selected.read-only</key>
						<true/>
					</dict>
					<key>name</key>
					<string>openIT.appex</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH497CA8QC</string>
						<key>name</key>
						<string>Blydro Klonk (Personal Team)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>openInFirefox.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZH497CA8QC</string>
				<key>name</key>
				<string>Blydro Klonk (Personal Team)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
